.badge {
  position: fixed;
  bottom: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  font-family: "Fira Code", monospace;

  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(8px);

  border-radius: 10px;
  overflow: hidden;

  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.label {
  padding: 6px 10px;
  font-size: 12px;
  letter-spacing: 1px;
  background: var(--primary);
  color: black;
  font-weight: 600;
}

.count {
  padding: 5px 12px;
  font-size: 13px;
  background: var(--secondary);
  color: black;
  font-weight: 700;
}